/* MavenPro - Fonte para textos */

@font-face {
  font-family: 'MavenPro';
  src: url('../../fonts/mavenPro/MavenPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MavenPro';
  src: url('../../fonts/mavenPro/MavenPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MavenPro';
  src: url('../../fonts/mavenPro/MavenPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
  
@font-face {
  font-family: 'MavenPro';
  src: url('../../fonts/mavenPro/MavenPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MavenPro';
  src: url('../../fonts/mavenPro/') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MavenPro';
  src: url('../../fonts/mavenPro/MavenPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}