:root{
    interpolate-size: allow-keywords;
}

.details[open] .details__icon{
    transform: rotateZ(90deg);
}

.details::details-content{
    block-size: 0;
    transition: 
        block-size 1s,
        content-visibility 1s;
    transition-behavior: allow-discrete;
    overflow: hidden;
}

.details[open]::details-content{
    block-size: auto;
}

summary {
  list-style: none;        /* Firefox, Edge (baseado em Chromium), navegadores modernos */
}

summary::marker {
  content: none;           /* Versão padrão/atual moderna para suportar ::marker */
}

summary::-webkit-details-marker {
  display: none;           /* Compatibilidade com versões mais antigas do Chrome, Safari e iOS */
}