:root{
    interpolate-size: allow-keywords;
}

.details[open] .details__icon{
    transform: rotateZ(90deg);
}

.details::details-content{
    block-size: 0;
    transition: 
        block-size 1s,
        content-visibility 1s;
    transition-behavior: allow-discrete;
    overflow: hidden;
}

.details[open]::details-content{
    block-size: auto;
}

.details > summary::-webkit-details-marker {
    display: none;
}