@theme{
    --color-background-dark: #380982;
    --color-background-light: #fff;
    --color-light: #fff;
    --color-dark: #1A1B1A;
    --color-highlight-light: #FFBC01;
    --color-highlight-dark: #CE9800;
}